# Arquivos temporários criados pelo Delphi
Android/Debug/libFastPed2.so
Android/Debug/FastPed2/debug/libFastPed2.so
Android/*
Android*
*Android/*
*Android*
git reset HEAD Android/Debug/*
Win32
__history/
__recovery/
__resources/
__revert/
__saved/
__tp/
__history.xml
*.identcache
*.local
*.dcu
*.o
!*/
!*.xml
!*.dex
!*.so
*.dsk
*.local
*.config
*.bdsproj.local
*.dproj.local
*.drc
*.dsk
*.~*
*.tvsconfig
*.vsmacros80
*.identcache
*.drc
*.cfg
*.dof
*.bdsproj.lock
*.dproj.user
*.jdbg
*.map
*.tvsconfig
*.tvslocal
*.bpl
*.dll
*.exe
*.dsk
*.manifest
*.local
*.ilc
*.smcache
*.bpi
*.pch
*.drc
*.identcache
*.lib
__history
__recovery
__revert
__resources
*.lps
*.ipch/

# Extensões não úteis para Android e iOS
*.apk
*.ipa
*.dSYM/
*.xcarchive/
